@model Foosinator.Models.Game
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4 text-center">
        <a href="/game/done/?game=@Model.Id&player=@Model.Player1Id">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.Player1.ProfilePicture" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>@Model.Player1.Name</h1>
                    </div>
                </div>

                @if (Model.Player3Id != null)
                {
                    <hr/>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <img src="@Model.Player3.ProfilePicture" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>@Model.Player3.Name</h1>
                        </div>
                    </div>
                }
            </div>
        </a>
    </div>
    <div class="col-md-4 text-center">
        <h3>vs</h3>
    </div>
    <div class="col-md-4 text-center">
        <a href="/game/done/?game=@Model.Id&player=@Model.Player2Id">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.Player2.ProfilePicture" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>@Model.Player2.Name</h1>
                    </div>
                </div>

                @if (Model.Player3Id != null)
                {
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <img src="@Model.Player4.ProfilePicture" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>@Model.Player4.Name</h1>
                        </div>
                    </div>
                }
            </div>
        </a>
    </div>
</div>

<p class="text-center">Click on the winning person/team.</p>

<hr />

<p class="text-center">@Html.ActionLink("Cancel game", "Cancel", new { id = Model.Id }, new { @class = "btn btn-danger" })</p>